html{

}
body{
    width:100%;height:100%;
}
div{

}
.container{
    display:                 flex;
    display:                 -webkit-flex; /* Safari 8 */
    flex-wrap:               wrap;
    -webkit-flex-wrap:       wrap;         /* Safari 8 */
    justify-content:         center;
    -webkit-justify-content: center;       /* Safari 8 */


}
.container div {
    width:              150px;
    height:             150px;
    background-color:   #cccccc;
    /*                margin-left:             10px; 
                    margin-right:             10px; 
                    margin-top: 10px auto;
                    margin-bottom: 10px auto;*/

    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;


    position: relative;display:inline-block;width:880px;height:400px;padding:20px;


}
div.section{


}  

div.section:hover{
    /*border:1px solid #009966;*/
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
}
div.section a {
    color: darkblue;
    display:block;width:100%;height:100%;font-size:10em;text-decoration: none;
} 
div #simsshow:hover{
    background-image: url('resource/home_reel.png');


}
div #clock:hover{
    background-image: url('resource/clock.png');



}
div #config:hover{
    background-image: url('resource/gear.png');



}
div #moments:hover{
    background-image: url('resource/team01.jpg');



}
